footer {
    
    background-color: $footer-bg;
    padding: 2.5em 0 1em;

    * {
        color: $footer-text-color;
        font-size: 12px !important;
    }
    
    a {
        color: $footer-link-color !important;
        text-decoration: none !important;
        
        &:hover {
            color: $footer-link-hover-color !important;
        }
    }
    
}