body {
    background: #fafafa;
}

#page-head #header {
    height: auto;
}
#page-head #header,
#page-head #breadcrumbBar .top-sticker-inner {
    background: #2e2e2e !important;
}

input.setting-input {
    border: none;
    border-bottom: 1px solid #e0e0e0;
}